<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id = "did" class="com.masai.DeliveryService">
	<property name="orderService" ref="oid" ></property>
</bean>

<bean id = "oid" class="com.masai.OrderService">
	<property name="restaurantService" ref="rid" ></property>
</bean>

<bean id = "rid" class="com.masai.RestaurantService"/>

</beans>